* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 200px;
    height: 200px;
    background: red;
    /* transform: rotate(45deg); */
    /* transform: translateX(20px); */
    /* transform: translateY(20px); */
    /* transform: translateZ(20px); */
    /* transform: translate(20px, 20px); */
    /* transform: scale(1.1); */
    /* transform: scaleX(1.5) */
    /* transform: scaleY(1.5) */
    /* transform: skew(20deg); */
}