* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    width: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex direction used to give flexbox a direction some of the value of flex-direction are */
    /* row, row-reverse, column, column-reverse */
    flex-direction: row-reverse;
    /* flex-wrap used to wrap the flexbox */
    /* wrap, wrap-reverse, nowrap */
    /* flex-wrap: wrap-reverse; */
}

.box1 {
    height: 200px;
    width: 200px;
    background-color: yellow;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 {
    height: 200px;
    width: 200px;
    background-color: rgb(255, 0, 255);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}