@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 60px;
}

button {
    padding: 13px 18px;
    background: rgb(255, 57, 57);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover {
    background-color: rgb(255, 0, 0);
    margin: auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.nav {
    height: 12vh;
    background-color: #FFC300;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
}

.navlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    transition: all 0.5s ease;
}

.navlink {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;
}

.navlink:hover {
    color: #ffffff;
}

#hamburger {
    font-size: 18px;
    display: none;
}


@media (max-width : 880px) {
    /* body {
        background-color: red;
    } */

    h1 {
        font-size: 40px;
    }

    .navlist {
        flex-direction: column;
        position: absolute;
        background-color: #FFEC00;
        top: -100vh;
        right: 0;
        width: 100%;
        padding: 5vh 0vh;
    }

    #hamburger {
        font-size: 18px;
        display: block;
        cursor: pointer;
    }
}