* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    background: url(https://source.unsplash.com/random/1300x800);
    /* background: url(../images/man-1253004.jpg); */
    /* to avoid repeating background we use background-repeat: no-repeat; */
    background-repeat: no-repeat;
    /* to place background at center we use this */
    background-position: center;
    /* to cover the whole background we use this */
    background-size: cover;
    height: 100vh;
    width: 100%;
}