body {
    background-color: black;
}

h1,
p {
    /* !important is used to make a property important and it cannot be modified again */
    background-color: #44c767 !important;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}