@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Jost', sans-serif;
}

.landing {
    width: 100%;
    height: 100vh;
    background-color: #36517C;
}

.navbar {
    /* background-color: rgb(0, 0, 0); */
    height: 10vh;
    width: 100%;
    padding: 20px 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navlist {
    display: flex;
    list-style: none;
    gap: 35px;
    align-items: center;
    justify-content: space-between;
}

.navlink {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.navlink:hover {
    color: #47B3E3;
    transition: all 0.3s ease;
}

.drop {
    width: 15px;
}

.logo {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
}

.common-btn {
    padding: 7px 25px;
    border-radius: 22px;
    border: 2px solid #47B3E3;
    cursor: pointer;
}

.common-btn:hover {
    background-color: #47B3E3;
    color: #ffffff;
    transition: all 0.3s ease;
}

/* navbar ends here */

/* header section starts here */
.header {
    height: 90vh;
    width: 100%;
    display: flex;
    padding: 0 6%;
    align-items: center;
    justify-content: space-between;
}

.left h1 {
    text-transform: capitalize;
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.left p {
    font-size: 18px;
    color: #99A8BD;
    font-weight: 500;
    margin-bottom: 50px;
}

.header-btn {
    background-color: #47B3E3;
    border: none;
    padding: 13px 30px;
}

.header-btn:hover {
    background-color: #ffffff;
    color: #47B3E3;
    transition: all 0.3s ease;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.fa-circle-play {
    font-size: 23px;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    text-decoration: none;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-img {
    width: 80%;
}