@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --ivory: #FFFFF3;
    --turquios: #00D9C0;
    --black: #030301;
    --white: #ffffff;
    --pink: #ff143f;
    --gray: rgb(68, 68, 68);
}

#landing {
    height: 100vh;
    width: 100%;
    background-color: var(--gray);
}

.nav {
    height: 12vh;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--black); */
    color: var(--white);
    border-bottom: 0.5px solid var(--white);
}

.navlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.logo {
    text-decoration: none;
    color: var(--pink);
    font-size: 25px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

.logo span {
    color: var(--white);
}

.navlink {
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1.5px;
    transition: all .5s ease;
    text-decoration: none;
    color: var(--ivory);

    &:hover {
        color: var(--white);
    }
}

.navlink::after {
    content: "";
    height: 2px;
    width: 0%;
    background: var(--pink);
    display: block;
    transition: all .5s ease;
    margin: auto;

    /* &:hover {
        width: 100%;
    } */
}

.navlink:hover::after {
    width: 100%;
}

/* ------nav end ------------- */

.header {
    height: 88vh;
    width: 100%;
    padding: 0px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    color: var(--white);
}

.intro {
    font-size: 25px;
    font-weight: 400;
}

.header-left h1 {
    font-size: 60px;
    color: var(--pink);
    letter-spacing: 2px;
}

.intro2 {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 30px;
}




.header-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;
}

.btn {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 17px;
    font-size: 16px;
    font-weight: 500;
    background: var(--pink);
    border: 1px solid transparent;
    color: var(--ivory);
    border-radius: 5px;
    transition: all 0.5s ease;
}

.hire-btn:hover {
    background: transparent;
    border: 1px solid var(--ivory);
    /* letter-spacing: 1px; */
    /* transform: scale(1.1); */
}

.cv-btn {
    background: transparent;
    border: 1px solid var(--ivory);
}

.cv-btn:hover {
    background: var(--pink);
    border: 1px solid transparent;
}

.header-right {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.header-right img {
    width: 80%;
}

/* -----------header end--------------- */

/* --------about section start------------ */
.about {
    padding: 0 8%;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--ivory);
}

.about-left {
    /* background-color: #ff143f; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-left img {
    width: 300px;
    border-radius: 50%;
}

.about-right {
    height: 100%;
    width: 50vw;
    /* background-color: var(--turquios); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-right h1 {
    font-size: 45px;
    letter-spacing: 2px;
    line-height: 2;
    align-self: flex-start;
    color: var(--pink);
}

.about-right p {
    font-size: 17px;
    margin-bottom: 1.5rem;
}

.about-btn {
    align-self: flex-start;

    &:hover {
        background-color: transparent;
        color: var(--gray);
        border: 1px solid var(--gray);
        letter-spacing: 1px;
    }
}


/* --------skills section start------------- */

.skills {
    height: 100vh;
    width: 100%;
    background: var(--gray);
    /* background: wheat; */
    padding: 0 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.skills-h1 {
    color: var(--white);
    font-size: 60px;
}


.skill-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.skill-cards .card {
    padding: 40px 20px;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: var(--white);


    &:hover {
        box-shadow: 2px 2px 7px var(--black);
        transform: translateY(-10px);
    }
}

.skill-cards .card img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.skill-cards .card h1 {
    color: var(--gray);
    margin-bottom: 20px;
}

.skill-cards .card p {
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    max-width: 90%;
}

.skill-cards .card:hover h1 {
    color: var(--pink);
}