@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --ivory: #FFFFF3;
    --turquios: #00D9C0;
    --black: #030301;
    --white: #ffffff;
    --pink: #ff143f;
    --gray: rgb(68, 68, 68);
}

#header {
    height: 100vh;
    width: 100%;
    background-color: var(--gray);
}

.nav {
    height: 12vh;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--black); */
    color: var(--white);
    border-bottom: 0.5px solid var(--white);
}

.navlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.logo {
    text-decoration: none;
    color: var(--pink);
    font-size: 25px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

.logo span {
    color: var(--white);
}

.navlink {
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1.5px;
    transition: all .5s ease;
    color: var(--ivory);

    &:hover {
        color: var(--white);
    }
}

.navlink::after {
    content: "";
    height: 2px;
    width: 0%;
    background: var(--pink);
    display: block;
    transition: all .5s ease;
    margin: auto;

    /* &:hover {
        width: 100%;
    } */
}

.navlink:hover::after {
    width: 100%;
}